.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header p {
  text-align: left;
  margin: 5px;
  position: relative;
}

.App-header div {
  width: 90%;
  border: 1px solid #fff;
  padding: 80px 40px;
  border-radius: 15px;
}

.container p::before {
  content: "";
  display: inline-block;
  vertical-align: middle;

  transform: translateY(-50%);
  margin-right: 16px;
  border-radius: 40px;
  background-color: rgba(135, 138, 135, 0.933);
  width: 35px;
  height: 3px;
}
